# Gitops repository description

{% if sx_repo_provider == "codecommit" %}
## Codecommit context

| Prop           | Value 
| -------------- | -----------------------------------------
| **repo name**  | {{ sx_repo_name }}
| **accessKey**  | {{ ia_codecommit_aws_accessKey | default(omit) }}
| **region**     | {{ ia_codecommit_aws_region | default(omit) }}
| **repository** | {{ sx_repo_url }}

{% elif sx_repo_provider == "gitlab" %}
## Gitlab context

| Prop            | Value 
| --------------- | -----------------------------------------
| **repo name**   | {{ sx_repo_name }}
| **repo url**    | {{ sx_repo_url }}
| **access_mode** | {{ sx_repo_access_mode }}
| **ssh key**     | {{ sx_repo_ssh_keypub[0:20] }}...{{ sx_repo_ssh_keypub[-10:] }}

{% endif %}
{% if sx_repo_vault_enable %}
## Vault context

| Prop            | Value 
| --------------- | -----------------------------------------
| **server**      | {{ ansible_hashi_vault_url }}
| **path**        | {{ sx_repo_vault_path }}
  
{% endif %}
