# cluster-service description

| Prop            | Value
| --------------- | -----------------------------------
| **name**        | {{ sx_cs_name }}
| **is ansible**  | {{ sx_cs_availables[sx_cs_name].type == 'ansible' }}
| **is k8s**      | {{ sx_cs_availables[sx_cs_name].type == 'k8s' }}
| **is deployed** | {{ __sx_cs_state.exists }}