# Gitops infra description

{% if sx_infra_vault_enable %}
## Vault service

| Prop           | Value 
| -------------- | -----------------------------------------
| **enabled**    | true
| **local path** | {{ sx_infra_vault_local_path | default('/tmp/vault') }}


{% endif %}

{% if sx_infra_automation_enable %}
## Automation service

| Prop           | Value 
| -------------- | -----------------------------------------
| **enabled**    | true

{% endif %}

{% if sx_infra_gitlab_enable %}
## Gitlab service

| Prop           | Value 
| -------------- | -----------------------------------------
| **enabled**    | true

{% endif %}

{% if sx_infra_terraform_enable %}
## Terraform service

| Prop           | Value 
| -------------- | -----------------------------------------
| **enabled**    | true

{% endif %}
