apiVersion: v1
baseDomain: '{{ sx_cluster_config_base_domain | default("monaco.gouv.mc") }}'
metadata:
  name: '{{ sx_cluster_config_name | default("default") }}'
  annotations:
    clusterProfile: "default"
    clusterProviderConfig: "aws"
    hourlyCost: "0,72 "
    description: "3 master (4Vcpu, 16Go RAM, 120Go gp2  120iop) +  3 worker ( 2Vcpu,   8Go RAM, 120Go gp2  120iop) - [AWS]"
    descriptionTab: "| 3  | 4  | 16  | 120 | gp2 | 120  | 3  | 2  | 8   | 120 | gp2 | 120  | AWS Paris "
    descriptionClusterconfig: argocd,pipeline,istio,quaysec,machine,workspaces
    clusterconfig: argocd-project,argocd-deploy-small,startx,infra,auth,rbac,infra,machine,console,storage,pipeline,istio,workspaces
fips: false
compute:
  - name: worker
    hyperthreading: Enabled
    replicas: {{ 3 | int }}
    platform:
      aws:
        type: t3a.2xlarge
{% if sx_cluster_aws_subnets is not defined %}
        zones:
        {{ sx_cluster_aws_az | to_nice_yaml(indent=2) | indent(8) }}
{%- endif %}
        rootVolume:
          size: 120
          type: gp2
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
  platform:
    aws:
      type: t3a.xlarge
{% if sx_cluster_aws_subnets is not defined %}
      zones:
      {{ sx_cluster_aws_az | to_nice_yaml(indent=2) | indent(6) }}
{%- endif %}
      rootVolume:
        size: 120
        type: gp2
networking:
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  machineNetwork: 
{% for cidr in sx_cluster_config_machine_cidrs | default(['10.0.0.0/16'])  %}
  - cidr: {{ cidr }}
{% endfor %}
  networkType: OVNKubernetes
  serviceNetwork:
    - 172.30.0.0/16
platform:
  aws:
    region: {{ sx_cluster_aws_region }}
{% if sx_cluster_aws_subnets is defined and sx_cluster_aws_subnets is iterable %}
    subnets:
      {{ sx_cluster_aws_subnets | to_nice_yaml(indent=2) | indent(6) }}
{%- endif %}
    userTags:
      scope: '{{ sx_cluster_config_scope | default("myscope") }}'
      cluster: '{{ sx_cluster_config_name | default("mycluster") }}'
      profile: '{{ sx_cluster_config_profile | default("default") }}'
      environment: '{{ sx_cluster_config_environment | default("myenv") }}'
      projectOwner: '{{ sx_cluster_config_owner | default("myself") }}'
pullSecret: '{{ sx_cluster_config_pull_secret | default("{}") | to_json }}'
{% if sx_cluster_ssh_keypub != "" and sx_cluster_ssh_keypub != None %}
sshKey: |
  {{ sx_cluster_ssh_keypub }}
{% endif %}
publish: "{{ sx_cluster_config_publish | default('External') }}"
