apiVersion: v1
baseDomain: '{{ sx_cluster_config_base_domain | default("monaco.gouv.mc") }}'
metadata:
  name: '{{ sx_cluster_config_name | default("heavy") }}'
  annotations:
    clusterProfile: "heavy"
    clusterProviderConfig: "aws"
    hourlyCost: "2,34 "
    description: "3 master (4Vcpu, 16Go RAM, 120Go io1  120iop) +  6 worker ( 8Vcpu,  32Go RAM, 200Go io1  200iop) - [AWS]"
    descriptionTab: "| 3  | 4  | 16  | 120 | io1 | 120  | 6  | 8  | 32  | 200 | io1 | 200  | AWS Paris "
    descriptionClusterconfig: argocd,pipeline,istio,quaysec,machine,workspaces,couchbase,sso,vault,Knative,logging,RHACMS,quay
    clusterconfig: argocd-project,argocd-deploy,startx,infra,auth,rbac,infra,machine,console,storage,pipeline,istio,couchbase,sso,knative,quaysec,quay,vault,workspaces,logging,acm,acs
compute:
  - name: worker
    hyperthreading: Enabled
    replicas: {{ 6 | int }}
    platform:
      aws:
        type: t3a.2xlarge
{% if sx_cluster_aws_subnets is not defined %}
        zones:
        {{ sx_cluster_aws_az | to_nice_yaml(indent=2) | indent(8) }}
{%- endif %}
        rootVolume:
          size: 120
          type: gp2
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
  platform:
    aws:
      type: t3a.xlarge
{% if sx_cluster_aws_subnets is not defined %}
      zones:
      {{ sx_cluster_aws_az | to_nice_yaml(indent=2) | indent(6) }}
{%- endif %}
      rootVolume:
        iops: 200
        size: 200
        type: io1
networking:
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  machineNetwork: 
{% for cidr in sx_cluster_config_machine_cidrs | default(['10.0.0.0/16'])  %}
  - cidr: {{ cidr }}
{% endfor %}
  networkType: OVNKubernetes
  serviceNetwork:
    - 172.30.0.0/16
platform:
  aws:
    region: {{ sx_cluster_aws_region }}
{% if sx_cluster_aws_subnets is defined and sx_cluster_aws_subnets is iterable %}
    subnets:
      {{ sx_cluster_aws_subnets | to_nice_yaml(indent=2) | indent(6) }}
{% endif %}
    userTags:
      scope: '{{ sx_cluster_config_scope | default("myscope") }}'
      cluster: '{{ sx_cluster_config_name | default("mycluster") }}'
      profile: '{{ sx_cluster_config_profile | default("heavy") }}'
      environment: '{{ sx_cluster_config_environment | default("myenv") }}'
      projectOwner: '{{ sx_cluster_config_owner | default("myself") }}'
pullSecret: '{{ sx_cluster_config_pull_secret | default("{}") | to_yaml }}'
{% if sx_cluster_ssh_keypub != "" and sx_cluster_ssh_keypub != None %}
sshKey: |
  {{ sx_cluster_ssh_keypub }}
{% endif %}
publish: "{{ sx_cluster_config_publish | default('External') }}"
