apiVersion: v1
baseDomain: '{{ sx_cluster_config_base_domain | default("monaco.gouv.mc") }}'
metadata:
  name: '{{ sx_cluster_config_name | default("nano") }}'
  annotations:
    clusterProfile: "nano"
    clusterProviderConfig: "aws"
    hourlyCost: "0,77 "
    description: "3 master + worker (8Vcpu, 32Go RAM, 50Go gp2  50iop) - [AWS]"
    descriptionTab: "| 3  | 8  | 32  | 50  | gp2 | 50   |    |    |     |     |     |      | AWS Oregon"
    descriptionClusterconfig: argocd,pipeline
    clusterconfig: argocd-project,argocd-deploy-small,startx,infra,auth,rbac,console,storage,pipeline
compute:
  - name: worker
    hyperthreading: Enabled
    replicas: {{ 0 | int }}
    platform:
      aws:
        type: t3a.large
{% if sx_cluster_aws_subnets is not defined %}
        zones:
        {{ sx_cluster_aws_az | to_nice_yaml(indent=2) | indent(8) }}
{%- endif %}
        rootVolume:
          size: 40
          type: gp2
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
  platform:
    aws:
      type: t3a.2xlarge
{% if sx_cluster_aws_subnets is not defined %}
      zones:
      {{ sx_cluster_aws_az | to_nice_yaml(indent=2) | indent(6) }}
{%- endif %}
      rootVolume:
        size: 50
        type: gp2
networking:
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  machineNetwork: 
{% for cidr in sx_cluster_config_machine_cidrs | default(['10.0.0.0/16'])  %}
  - cidr: {{ cidr }}
{% endfor %}
  networkType: OVNKubernetes
  serviceNetwork:
    - 172.30.0.0/16
platform:
  aws:
    region: {{ sx_cluster_aws_region }}
{% if sx_cluster_aws_subnets is defined and sx_cluster_aws_subnets is iterable %}
    subnets:
      {{ sx_cluster_aws_subnets | to_nice_yaml(indent=2) | indent(6) }}
{% endif %}
    userTags:
      scope: '{{ sx_cluster_config_scope | default("myscope") }}'
      cluster: '{{ sx_cluster_config_name | default("mycluster") }}'
      profile: '{{ sx_cluster_config_profile | default("default") }}'
      environment: '{{ sx_cluster_config_environment | default("myenv") }}'
      projectOwner: '{{ sx_cluster_config_owner | default("myself") }}'
pullSecret: '{{ sx_cluster_config_pull_secret | default("{}") | to_json }}'
{% if sx_cluster_ssh_keypub != "" and sx_cluster_ssh_keypub != None %}
sshKey: |
  {{ sx_cluster_ssh_keypub }}
{% endif %}
publish: "{{ sx_cluster_config_publish | default('External') }}"
