# Cluster description

| Prop            | Value
| --------------- | -----------------------------------
| **name**        | {{ sx_cluster_config_name }}
| **scope**       | {{ sx_cluster_config_scope }}
| **environment** | {{ sx_cluster_config_environment }}
| **owner**       | {{ sx_cluster_config_owner }} 
| **kind**        | {{ sx_cluster_config_kind }} 
| **profile**     | {{ sx_cluster_config_profile }}
| **baseDomain**  | {{ sx_cluster_config_base_domain }}
| **defined**     | {{ sx_cluster_exist  | ternary('YES', 'NOT YET', omit) }}
| **deployed**    | {{ sx_cluster_deployed | ternary('YES', 'NOT YET', omit) }}
| **started**     | {{ sx_cluster_started | ternary('YES', 'NOT YET', omit) }}

{% if sx_cluster_deployed %}
# Cluster access

| Prop            | Value
| --------------- | -----------------------------------
| **console**     | https://console-openshift-console.apps.{{ sx_cluster_config_name }}.{{ sx_cluster_config_base_domain }}
| **kubeadmin**   | {{ lookup('file', sx_cluster_path+'/auth/kubeadmin-password') }}
{% endif %}